@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --base-text-color: rgb(7, 7, 7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(7, 7, 7);
    --base-text-color: white;
  }
}

body {
  color: var(--base-text-color);
  background: var(--background-color);
}

.playfair-font {
  font-family: var(--font-playfair-display);
}

@layer base {
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}
